* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(245, 248, 255);
}

/* shared style */
.container {
    max-width: 1140px;
    margin: 20px auto;
}

.display-flex {
    display: flex;
}

/* Nav bar */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-items ul {
    list-style: none;
    gap: 48px;
}

.nav-items ul li a {
    text-decoration: none;
}

#id-1 {
    color: rgb(137, 135, 161);
}

#home {
    color: rgb(37, 36, 50);
    font-weight: 700;
}

.cart {
    gap: 10px;
}

/* banner section */
.banner-container {
    margin-top: 120px;
}

.banner-left {
    max-width: 50%;
    margin-top: 130px;
}

.banner-left h1 {
    font-weight: 700;
    font-size: 4rem;
}

#color {
    color: rgb(233, 90, 8);
}

.banner-left p {
    margin-top: 10px;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.5);
}

.banner-right {
    width: 50%;
}

.banner-right img {
    width: 100%;
    height: 100%;
    display: block;
}

/* main section */
.main-section {
    margin-top: 100px;
}

.main-content {
    text-align: center;
}

.main-content h2 {
    font-weight: 700;
    font-size: 3rem;
}

.main-content p {
    padding: 0 126px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.4rem;
}

#our {
    color: rgb(233, 90, 8);
}

.card-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}

.card-container img {
    width: 100%;
}

.card-content {
    max-width: 270px;
    text-align: center;
}

.card-content .card-title {
    margin: 10px auto;
    color: rgb(17, 17, 17);
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
}

#price {
    color: rgb(17, 17, 17);
    font-weight: 700;
    font-size: 1.4rem;
    margin-top: 10px;
}

.button {
    background-color: rgb(233, 90, 8);
    color: white;
    width: 100%;
    padding: 16px 50px;
    border: none;
    margin: 20px 0;
}

/* Flower Lover Container */


.flower-lover-container {
    gap: 60px;
    margin-top: 150px;
}

.flower-lover-container-img {
    flex: 1;
}

.flower-lover-container-img img {
    width: 100%;
    height: 100%;
    display: block;
}

.flower-lover-container-content {
    flex: 1;
    margin-top: 30px;
}

.flower-lover-container-content h2 {
    font-size: 3.1rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
}

.flower-lover-container-content ul {
    padding-left: 20px;
}

.flower-lover-container-content ul li {
    font-size: 1.7rem;
    color: rgba(0, 0, 0, 0.5);
    margin: 20px auto;
}

.flower-lover-container-img {
    position: relative;
}

.trusted-badge{
    max-width: 286px;
    max-height: 286px;
}
.trusted-badge {

    position: absolute;
    top: -150px;
    left: 350px;
    width: 100%;
    height: 100%;
    display: block;

}



@media screen and (max-width: 576px) {
    .navbar {
        margin: 10px 15px;
    }

    .navbar ul li {
        display: none;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-right {
        width: 100%;
    }

    .banner-right img {
        width: 100%;
    }

    .banner-left {
        max-width: 100%;
        margin-top: 20px;
        padding: 10px;
    }

    .banner-left h1 {
        max-width: 365px;
        font-size: 2rem;
    }

    .main-section {
        margin-top: 50px;
    }

    .main-content p {
        width: 100%;
        padding: 0 10px;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }

    .flower-lover-container {
        flex-direction: column;
        margin-top: 20px;
        padding: 20px;
    }

    .flower-lover-container-content {
        margin: 5px;
    }

    .flower-lover-container-img {
        position: none;
    }

    .flower-lover-container-img .trusted-badge {
        display: none;
        position: none;
    }
}